{{ define "index" }}
<!DOCTYPE html>
<html>
  <head>
    <title>Status</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script type="text/javascript" src="static/js/jquery.js"></script>
    <script type="text/javascript" src="static/js/api.js"></script>
    <meta charset="utf-8">
  </head>
  <body>
    <div class="wrap">
      <div class="updated">
	Last Updated <span id="update">0 Seconds Ago</span>
      </div>
      <div class="header success">
	All Systems Operational
      </div>
      <div class="break"></div>
      <div class="q">
	What is this site?
      </div>
      <div class="a">
	This is a site that monitors <a href="http://cjdns.info">Cjdns</a> using <a href="https://github.com/inhies/nodestat">Nodestat</a> to collection the information. It has API points at <a href="/node">/node</a>, <a href="/peers">/peers</a>, and <a href="/all">/all</a>. The information updates every 5 seconds, but you can refresh at will.
      </div>
      <div class="break"></div>
      <ul>
	<li class="active" id="core">Core</li>
	<li id="angel">Angel</li>
	<li id="peers">Peers</li>
      </ul>
      <div class="break"></div>
      <div class="core">
	<div class="uptime"></div>
	<div class="cpu"></div>
	<div class="mem"></div>
      </div>
      <div class="angel">
	<div class="uptime"></div>
	<div class="cpu"></div>
	<div class="mem"></div>
      </div>
      <div class="peers">
	hi
      </div>
    </div>
  </body>
</html>
{{ end }}
